body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;

}

header {
  display: inline-flex;
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;

}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav {
  flex-grow: 1;
  text-align: right;

}

header .logo {
  padding-left: 10px;
  height: 50px;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;

}

.main {
  width: 1200px;
  margin: auto;
  padding-top: 69px;

}
div.main {
  display: block;
}

div.content {
  margin: auto;
  background-color: black;
  width: 100%;
}



 div#mission.flex-container {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

#mission .content {
  background-color: black;
  width: 100%;

}

div.flex-container.items  {
  display: flex;
justify-content:  center;
  flex-wrap: wrap;
}


div #featured {
  width: 1000px;
  height: 700px;
  display: block;
  padding: 100px;
}


.items img {
  height: 200px;
  display: block;
  padding: 10px;
}


div#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
padding-top: 70px;
}

div.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;


}

div.#locations .flex-container.locations{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1100px;

}

div#contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
